<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nonogram</title>

  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="gridController.js"></script>

  <link rel="stylesheet" type="text/css" href="grid.css">

</head>

<body ng-app="nonogramApp" ng-controller="gridController as grid">

  <table>
    <tr ng-repeat="i in grid.range(grid.rows) track by $index">
      <td ng-repeat="i in grid.range(grid.columns) track by $index" 
          ng-click="grid.paint($parent.$index, $index)"
          ng-right-click="grid.mark($parent.$index, $index)" 
          ng-class="grid.grid[$parent.$index][$index]">
      </td>
      <td class="numbers">
        <span ng-repeat="i in grid.clues.rows[$index] track by $index" ng-class="{solved: i.painted}">{{i.number}}</span>
      </td>
    </tr>

    <tr>
      <td ng-repeat="i in grid.range(grid.rows) track by $index" class="numbers">
      </td>
    </tr>
  </table>

</body>

</html>