<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nonogram</title>

  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="app/nonogram.js"></script>
  <script src="app/directives/rightClickDirective.js"></script>
  <script src="app/controllers/gridController.js"></script>

  <link rel="stylesheet" type="text/css" href="grid.css">
</head>

<body ng-app="nonogram">

  <table ng-controller="gridController as grid">

    <tr ng-repeat="i in grid.range(grid.maxColumnClues) track by $index" ng-init="row=$index">
      <td ng-repeat="j in grid.range(grid.maxRowClues) track by $index" class="none"></td>
      <td ng-repeat="j in grid.range(grid.columns) track by $index" 
          ng-init="clue=grid.columnClues[$index][grid.columnClues[$index].length + row - grid.maxColumnClues]"
          ng-class="grid.clueState(clue)">
        {{ clue.number }}
      </td>
    </tr>

    <tr ng-repeat="i in grid.range(grid.rows) track by $index" ng-init="row=$index">
      <td ng-repeat="j in grid.range(grid.maxRowClues - grid.rowClues[row].length) track by $index" class="none"></td>
      <td ng-repeat="j in grid.rowClues[row] track by $index"
          ng-init="clue=grid.rowClues[row][$index]" 
          ng-class="grid.clueState(clue)">
        {{ clue.number }}
      </td>
      <td ng-repeat="j in grid.range(grid.columns) track by $index"
          ng-click="grid.paint(row, $index)"
          ng-right-click="grid.mark(row, $index)" 
          ng-class="grid.cellState(row, $index)"
          ng-mouseover="expression">
      </td>
    </tr>

  </table>

</body>

</html>