
<style type="text/css">


</style>



<div ng-cloak>
  
  <div layout="row" layout-wrap layout-align="center center">
    <div ng-repeat="level in levels">
      <div style="height: 100px; width: 100px; border: 1px solid black;"> 
        <div ng-repeat="row in level.grid track by $index" layout="row">
          <div ng-repeat="cell in row track by $index" ng-class="{{ cell ? 'cell-painted' : 'cell-empty'}}"> {{ cell }}</div>
        </div>
      </div>
    </div>
  </div>

</div>